img {
    width: 100px;
    height: 100px;
}

p {
    word-break: break-word;
}

#title-textarea {
    font-size: 20px;
}

#input-textarea {
    padding: 10px;
    width: 60%;
    height: 100px;
}

#post-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row-flex {
    display: flex;
    flex-direction: row;
}

.col-img {
    margin-right: 30px;
}

.full-name {
    font-size: 25px;
}

.status {
    font-size: 18px;
}

.date {
    font-size: 15px;
    color: grey;
}