img {
    width: 100px;
    height: 100px;
}

p {
    word-break: break-word;
}

#title-textarea {
    font-size: 20px;
}

#input-comment {
    padding: 10px;
    width: 100%;
    height: 70px;
}

#comment-section {
    margin-left: 50px;
}

#form-comment {
    margin-left: 50px;
    margin-bottom: 20px;
}

.post-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row-flex {
    display: flex;
    flex-direction: row;
}

.col-img {
    margin-right: 30px;
}

.full-name {
    font-size: 25px;
}

.status {
    font-size: 18px;
}

.comment {
    margin-left: 50px;
    background: red;
}

.date {
    font-size: 15px;
    color: grey;
}

.login-button {
    height: 50px;
    width: auto;
}

.toggle-comment {
    font-size: 12px;
}


#img-comment {
    width: 70px;
    height: 70px;
}

.comment-full-name {
    font-size: 20px;
}

.comment-status {
    font-size: 13px;
}

.comment-date {
    font-size: 10px;
    color: grey;
}