html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 40px; /* Margin bottom by footer height */
background: #a0d8ef; /* Old browsers */
background: -moz-linear-gradient(-45deg, #a0d8ef 0%, #a0d8ef 1%, #a0d8ef 1%, #ddf1f9 35%, #feffff 98%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #a0d8ef 0%,#a0d8ef 1%,#a0d8ef 1%,#ddf1f9 35%,#feffff 98%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #a0d8ef 0%,#a0d8ef 1%,#a0d8ef 1%,#ddf1f9 35%,#feffff 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0d8ef', endColorstr='#feffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;

    margin-top: 100px;
    height: 40px;
    background: #6bb2ff;
}

.navbar {
	background: #6bb2ff;
}