{% extends "layout/base.html" %}
{% load staticfiles %}

{% block content %}


<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">

<div class="container">

  <form id="login-form" method="post" action="/logging-in/">
    {% csrf_token %}
  </form>

  <form id="logout-form" method="post" action="/logging-out/" >
    {% csrf_token %}
  </form>


  <div id='main-button'>
    <!-- code in js -->
  </div>

  <hr>

  {% if not posts %}

  <div class="alert alert-danger">
    <strong> <center> This company have no post yet... :( </center> </strong>
  </div>

  {% else %}

  {% for post in posts %}

  <div class="post-container well">
    <div class="row-flex post">

      <div class="col-img">
        <img class="img-circle" src="{{ post.company.image }}">
      </div>

      <div class="col-post">

        <div class="full-name">
          <b> {{ post.company.name }} </b>
        </div>

        <div class="status">
          <p>
            {{ post.value | linebreaks}}
          </p>
        </div>

        <div class="date">
          {{ post.created_date }}
        </div>

        <!-- <button class="btn toggle-comment" id="show-comment"> <b> Show Comment </b> </button> -->

      </div>

    </div>

  </div>

  <form id='form-comment' action="{% url 'add_comment' post.id %}", method="post">
    {% csrf_token %}
    <div class="form-group">
      <textarea id='input-comment'
                name='comment_input'
                class='form-control'
                placeholder="Write here..."></textarea>
    </div>
    <input class='btn btn-primary' type="submit" value="Comment">
  </form>

  {% for comment in post.comments.all %}

  <div id='comment-section' class="post-container well">
    <div class="row-flex post">

      <div class="col-img">
        <img id="img-comment" class="img-circle" src="https://d30y9cdsu7xlg0.cloudfront.net/png/157815-200.png">
      </div>

      <div class="col-post">

        <div class="comment-full-name">
          {% if comment.company %}
          <b> {{ company.name }} </b>
          {% else %}
          <b> Anonymous </b>
          {% endif %}
        </div>

        <div class="comment-status">
          <p>
            {{ comment.value | linebreaks}}
          </p>
        </div>

        <div class="comment-date">
          {{ comment.created_date }}
        </div>

      </div>

    </div>

  </div>

  {% endfor %}

  {% endfor %}

  {% endif %}

</div>

{% endblock %}


{% block js %}
  <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}