{% extends "layout/base.html" %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/forum.css' %}">

<div class="container">

  {% if messages %}
  {% for message in messages %}
  <div class="{{ message.tags }}">
    <center> {{ message }} </center>
  </div>
  {% endfor %}
  {% endif %}

  <form id='form-textarea' action="{% url 'post_to_forum' %}", method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="comment" id='title-textarea'>Post to forum:</label>
      <textarea id='input-textarea'
                name='post_input'
                class='form-control'
                placeholder="Write here..."></textarea>
    </div>
    <input class='btn btn-primary' type="submit" value="Post">
  </form>

  <hr>
  {% if not posts %}

  <div class="alert alert-danger">
    <strong> <center> This company have no post yet... :( </center> </strong>
  </div>

  {% else %}

  {% for post in posts %}
  <div id='post-container' class="well">
    <div class="row-flex post">

      <div class="col-img">
        <img class="img-circle" src="{{ company.image }}">
      </div>

      <div class="col-post">

        <div class="full-name">
          <b> {{ company.name }} </b>
        </div>

        <div class="status">
          <p>
            {{ post.value | linebreaks}}
          </p>
        </div>

        <div class="date">
          <p> {{ post.created_date }} </p>
        </div>

      </div>

    </div>

    <div class="col-icon">
        <form id='form-remove-post' action="{% url 'delete_from_forum' %}", method="post">
          {% csrf_token %}
          <input value='{{ post.id }}' type='hidden' name='post_id'>
        </form>

        <button type="submit" class='btn btn-default glyphicon glyphicon-remove' form='form-remove-post'></button>
      </div>

  </div>

  {% endfor %}

  {% endif %}

</div>


{% endblock %}

{% block js %}
  <script src="{% static 'js/forum.js' %}"></script>
{% endblock %}
