{% extends "layout/base.html" %}
{% load staticfiles %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/pilih_company.css' %}">

<form id="store-company" method="post" action="{% url 'store_company' %}">
    {% csrf_token %}
    <input id="company_id_input" type="hidden" name="company_id">
</form>

{% csrf_token %}
</form>

<div id='select-company'>
</div>
{% endblock %}

{% block js %}
  <script src="{% static 'js/pilih_company.js' %}"></script>
{% endblock %}
