{% extends "layout/base.html" %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<form id="add-company" method="post" action="{% url 'add_company' %}" name="companyForm">
    {% csrf_token %}
    <input id="input_name" type="hidden" name="company_name">
    <input id="input_logo" type="hidden" name="company_logo">
    <input id="input_type" type="hidden" name="company_type">
    <input id='input_spec', type="hidden" name="company_spec">
    <input id='input_id', type="hidden" name="company_id">
</form>

<div id='profile-company'>
</div>
{% endblock %}



{% block js %}
	<script type="text/javascript">
		var company_id = {{ company_id }};
	</script>
	<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}
