{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="https://platform.linkedin.com/in.js">
        api_key: 81ddgg87qig266
        authorize: true
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script
        type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>

    <meta charset="utf-8">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {% block css %}
        <!-- css goes here -->
    {% endblock %}
    <title>
        {% if company %}

        Cari Kerja - {{ company.name }}

        {% else %}

        Cari Kerja

        {% endif %}

    </title>
</head>

<body>
    <header>
        {% include "partials/header.html" %}
    </header>
    <content>

        {% block content %}
            <!-- content goes here -->
        {% endblock %}

    </content>
    <footer>
        {% include "partials/footer.html" %}
    </footer>
</body>
</html>

{% block js %}

{% endblock %}